@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:#f0f3f4;
    font-family:Open Sans;
    
}
.part1{
    margin:4em 2em 2em 2em;
    border-radius: 2em;
    border:1px solid rgb(216, 213, 213);
    background-color:rgb(250,250,250);
}
.header{
    display:flex;
    flex-flow:row wrap;
    padding:0.5em 0 0.5em 9em;
    margin:0.5em 0;
    border-top:1px solid rgb(216, 213, 213);
    border-bottom:1px solid rgb(216, 213, 213);
    background-color:#fbfcfc;
}
.header__left{
    flex-grow:1;
}
.header__left--linkedin{
    float:left; 
    margin-right:3em;
}
.header__left--search{
    display:flex;
     flex-direction:row;
     border:1px solid #dae0ef;
     background-color:#e5eaeb;
     border-radius: 5px;
}
.header__mid{
    flex-grow:3;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    
}
.header__mid li{
    list-style-type:none;
    margin:0;
    padding:0;
    
}
.header__mid  li i{
     float:left;
    font-size:30px;
    color:rgb(94, 89, 89);
}
.header__mid  li i:hover{
color:black;
 
}

.input{
    font-size:17px;
    border-bottom:1px solid grey;
    width:300px;
    height:30px;
    
}

.coverimg__img{
    background-image:url('cov1.jpg');
    background-repeat:no-repeat;
    background-position:fixed;
    background-size:cover;
    height:300px;
    border-radius: 1em;
    display:flex;
    flex-flow:row wrap;
    justify-content: flex-end;
    align-items:flex-start;
}
.coverimg__camera{
    border-radius:50%;
    padding:7px;
    margin:2em 2em 0 0;
    background-color: white;

}
.profile{
display:flex;
flex-flow:row wrap;
justify-content:space-between;
}
.profile__img{
    margin:-10em 0 0 3em;
    
}

.profile__img--button{
border-radius:50%;
border:2px solid white;
width:230px;
height:230px;

}
.ppdetail{
    display:flex;
    flex-flow:row nowrap;
    margin:0 0 0.7em 2em;
}
#font__i{
font-size:20px;
padding:2em 3em 0 0;
color:rgb(66, 62, 62);
}
#p1{
font-size:26px;
color:black;
font-weight:bold;
}
#p2{
    font-size:1.7em;
    font-weight:600;
}
.connection{
    display:flex;
    flex-flow:row nowrap;
    margin-left:2em;
}
.connection div p{
    font-size:25px;
    color:blue;
}
.open{
    display:flex;
    flex-flow:row nowrap;
    margin-left:2em;
}
.open button{
    width:6em;
    padding:2px;
    border-radius:2em;
    margin:0.5em 2em 0.5em 0;
    font-size:23px;
    color:rgb(146, 133, 133);
    font-weight:light;
    border:1px solid black;
    background-color:rgb(250,250,250);
}
.recruite{
    display:flex;
    flex-flow:row nowrap;
    margin:0 0 2.5em 2em;
}
.recruite__button{
    margin-right:2em;
    padding:1em 2em 0.5em 1em;
    border-radius:13px;
    width:40em;
    height:120px;
    font-size:20px;
    display:flex;
    flex-flow:row wrap;
    border:1px solid rgb(216, 213, 213);
}
.part2{
    border-radius: 1em;
    border:1px solid  rgb(216, 213, 213);
    margin:2em 2em;
}
.ppdetail__1 h1{
    font-size:35px;
    font-weight:bold;
}
.strength{
    margin:2em 1em 1em 2em;
    display:flex;
    flex-flow:row  wrap;
    justify-content: space-between;
}
.strength__top{
font-size:2em;
font-weight:light;
color:rgb(107, 101, 101);
}
.strength__flex{
    margin:2em 2em;
}
.strength__bar{
    display:flex;
    flex-flow:row nowrap;
    margin-left:2em;
}
.strength__ba{
    background-color: green;
    width:10em;
    height:1em;
    margin:0.8em 0.5em 1em 0;
}
#bar__last{
    width:30em;
    border:1px solid black;
    height:1em;
    margin:0.8em 0.5em 1em 0;
    column-gap:0;
}

.part3{
      margin:1em 2em;
      border-radius:2em;
      border:1px solid  rgb(216, 213, 213);
      background-color:rgb(216, 241, 241);
}
.part3 div p{
    font-size:40px;
}
.view{
    display:flex;
    flex-flow:row nowrap;
    background-color: white;
    margin:0 4em 2em 2em;
    border-radius:1.5em;
    border:1px solid rgb(216, 213, 213);
}
.view div{
    border:1px solid rgb(216, 213, 213);
    padding:2em;
    flex-grow:1;
    border-radius:1.5em;
}
.item{
    margin:1em 4em 2.5em 2em;
    background-color: white;
    border:1px solid rgb(216, 213, 213);
    border-radius: 1em;
}
.item div{
    padding:1em 0 1em 1em; 
}
.part4{
    border:1px solid  rgb(216, 213, 213);
    border-radius: 1em; 
    margin:1em 2em 1em 2em;
    padding:1em 3em;
    background-color:rgb(250,250,250);
}
.font__po p{
    font-size:1.7em;
}
.grid{
    display:grid;
    grid-template-columns:auto auto;
    grid-gap:1em 2em;
    margin:1em 0;
}
.grid div{
    font-size:1.5em;
    color:rgb(75, 66, 66);
}
.part5{
    border:1px solid rgb(216, 213, 213);
    border-radius: 1em; 
    margin:1em 2em 1em 2em;
    padding:1em 3em;
    background-color:rgb(250,250,250);
}
.part5__h i{
font-size:2em;
}
#kalika{
font-size:1.6em;
}
.fas {
    font-size:1.5em;
}
.part6{
    margin:1em 2em;
    border-top:1px solid rgb(214, 209, 209);
    background-color:#f0f3f4;
    
}
.part6__grid{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap:1em 2em;
    margin-right:2em;
    width:75%;
    font-size:1.3em;
    color:rgb(78, 73, 73);
}
.part6__right{
    font-size:1.3em;
    color:rgb(78, 73, 73);
}